<ion-content>

  <div id="container">
    <div id="data">
      <div id="nav">
        <div id="back" (click)="toggleMenu()">
          <img src="../../assets/img/menu.png" alt="">
        </div>
        <div id="logo">
          <img src="../../assets/img/banjercitoLogoBlanco.png" alt="">
        </div>
        <div></div>
      </div>
      <div id="cliente">
        <div id="profile" [routerLink]="['/profile']">
          <div id="army">
            <img src="../../assets/img/soldier.png" alt="" *ngIf="genero === 'M'">
            <img src="../../assets/img/soldierw.png" alt="" *ngIf="genero === 'F'">
          </div>
        </div>
        <div id="datos">
          <div>
            <label>Nombre:</label>&nbsp;&nbsp;&nbsp;<span>{{ nombre }}</span>
          </div>
          <div>
            <label>Grado: </label>&nbsp;&nbsp;&nbsp;<span>{{ gradoS }}</span>
          </div>
          <div></div>
        </div>
      </div>
    </div>
    <div id="widgets">
      <div id="simulador" class="circle">
        <a [routerLink]="['/simulador']">
          <h1>Simulador de créditos</h1>
        </a>
      </div>
      <div id="inversiones" class="circle">
        <a [routerLink]="['/inversiones']">
          <h1>Simulador de inversiones</h1>
        </a>
      </div>
      <div id="prontuario" class="circle">
        <a [routerLink]="['/tarifario']" [queryParams]="{ grado: grado, situacion: situacion }">
          <h1>Prontuario</h1>
        </a>
      </div>
    </div>
  </div>

</ion-content>
